<a href="https://colab.research.google.com/github/kbcvcbk/cesar-school/blob/master/estatistica-e-probabilidade/nascer-do-sol/Ricardo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Etapa 1: Pré-processamento dos dados.
## Links
- [Atividade no Classroom](https://classroom.google.com/u/0/c/MTQ4MzY4NzYyMDM3/a/MTU1OTk5ODg0OTcx/details)
- [Artigo de Ricardo](https://drive.google.com/file/d/1dNBfmRlWIvUj_8mzpTEBtRqQF9tVl0kh/view)
- [Cálculo de nascer e por do sol](https://www.inf.ufrgs.br/~cabral/Nascer_Por_Sol.html#:~:text=Subtraindo%206%20horas%20do%20meio,pa%C3%ADs%2C%20estes%20hor%C3%A1rios%20seriam%20corretos.)

## Enunciado
Esta etapa consiste na conversão das fórmulas disponíveis no artigo para programação juntamente com o tratamento dos dados.

O tratamento dos dados deverá ter foco no horário do nascimento do sol na cidade de Água Branca - AL, convertendo o tempo total de sol em minutos por dia.

Para isso, você precisa calcular a hora que o sol nasce para um dado dia (Utilizar o artigo Cálculo do Nascer e Pôr do Sol).

A entrega deverá ser feita até o dia 03/11, as 23:59.

## Etapas
1. Conversão das fórmulas do artigo
2. Cálcular a hora que o sol nasce cada dia
3. Converter o tempo total de sol em minutos por dia

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Ler XLS e montar o DataFrame
Fiz upload do arquivo aqui no colab (vocês podem ver clicando na pasta na que tem lá na esquerda), então ele deve ficar disponível pra todo mundo.

### Refs
- [Função read_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

In [32]:
pag = pd.read_excel("Janeiro 2008.xls",
                    sheet_name = [0, 1, 2],
                    skiprows = [0, 2, 3],
                    header = 0)

df = pd.concat([pag[0], pag[1], pag[2]])

In [33]:
df

                TIMESTAMP  RECORD  ...  IlumLESTE_Avg  IlumOESTE_Avg
0     2008-01-01 00:00:00  243801  ...          1.549          1.326
1     2008-01-01 00:01:00  243802  ...          1.549          1.318
2     2008-01-01 00:02:00  243803  ...          1.549          1.324
3     2008-01-01 00:03:00  243804  ...          1.549          1.329
4     2008-01-01 00:04:00  243805  ...          1.549          1.340
...                   ...     ...  ...            ...            ...
15835 2008-01-31 23:55:00  288436  ...          1.145          1.347
15836 2008-01-31 23:56:00  288437  ...          1.145          1.347
15837 2008-01-31 23:57:00  288438  ...          1.145          1.347
15838 2008-01-31 23:58:00  288439  ...          1.145          1.360
15839 2008-01-31 23:59:00  288440  ...          1.135          1.489

[44640 rows x 14 columns]

### Conversão das fórmulas do artigo

In [34]:
from numpy import (
    sin,
    cos,
    tan,
    arccos,
    radians,
    degrees,
    absolute,
)

from datetime import (
    timedelta,
    datetime,
    date,
)

In [35]:
def earth_declination(n):
    return 23.45 * sin(radians(360/365 * (284+n)))

def td(lat, day):
    dec = earth_declination(day)
    cofactor = -(tan(radians(lat)) * tan(radians(dec)))
    return 2/15 * degrees(arccos(cofactor))

def longitude_correction(lng, fuse):
    diff = absolute(lng) - absolute(fuse)
    
    return timedelta(
        minutes=(diff * 60) / 15
    )

def day_range(td, lng, fuse):
    td /= 2
    sunrise = timedelta(hours=12-td)
    sunset = timedelta(hours=12+td)

    correction = longitude_correction(lng, fuse)
    sunrise += correction
    sunset += correction
    
    return (sunrise, sunset)

In [36]:
"""
Teste com dados do artigo
valores esperados:
daytime = 11,15174 
sunrise = 6h 32min 4s
sunset = 17h 41min 05s
"""

lat = -23.543333
lng = 46.633056
fuse = 45
day = 119

daytime = td(lat, day)
sunrise, sunset = day_range(daytime, lng, fuse)

print(f"""daytime = {daytime}
sunrise = {sunrise}
sunset = {sunset}""")

daytime = 11.151741131164016
sunrise = 6:31:58.799404
sunset = 17:41:05.067476

### Calcular a hora que o sol nasce cada dia

In [37]:
all_days = map(lambda ts: ts.date(), df["TIMESTAMP"])
days = pd.Series(all_days).unique()

In [41]:
def date_to_nth_day(d):
  new_year = date(d.year, 1, 1)
  delta = (d - new_year)
  delta += timedelta(days = 1)
  return delta.days

In [42]:
# Coordenadas de Água Branca - AL
lat = -9.25402
lng = -37.9449
fuse = 45

def daytime_from_day(day):
  day_int = date_to_nth_day(day)
  daytime = td(lat, day_int)
  sunrise, sunset = day_range(daytime, lng, fuse)

#  print(f"""\ndaytime = {daytime}
#sunrise = {sunrise}
#sunset = {sunset}""")

  daytime = pd.Timedelta(daytime, 'h')
  sunrise = pd.to_datetime(day) + sunrise
  sunset = pd.to_datetime(day) + sunset

  return (daytime, sunrise, sunset)

pd.DataFrame(map(daytime_from_day, days),
             columns=["Horas de Sol", "Nascer", "Pôr"])

                Horas de Sol  ...                        Pôr
0  0 days 12:31:44.651722800  ... 2008-01-01 17:47:39.101861
1     0 days 12:31:37.152210  ... 2008-01-02 17:47:35.352106
2  0 days 12:31:29.034609599  ... 2008-01-03 17:47:31.293304
3  0 days 12:31:20.303727600  ... 2008-01-04 17:47:26.927864
4  0 days 12:31:10.964719200  ... 2008-01-05 17:47:22.258360
5  0 days 12:31:01.023052800  ... 2008-01-06 17:47:17.287526
6  0 days 12:30:50.484506400  ... 2008-01-07 17:47:12.018253
7  0 days 12:30:39.355160400  ... 2008-01-08 17:47:06.453581
8  0 days 12:30:27.641386800  ... 2008-01-09 17:47:00.596694
9  0 days 12:30:15.349834800  ... 2008-01-10 17:46:54.450917
10 0 days 12:30:02.487412800  ... 2008-01-11 17:46:48.019706
11 0 days 12:29:49.061284800  ... 2008-01-12 17:46:41.306642
12 0 days 12:29:35.078859600  ... 2008-01-13 17:46:34.315429
13 0 days 12:29:20.547765600  ... 2008-01-14 17:46:27.049883
14 0 days 12:29:05.475854400  ... 2008-01-15 17:46:19.513928
15    0 days 12:28:49.871172  ... 2008-01-16 17:46:11.711587
16 0 days 12:28:33.741955200  ... 2008-01-17 17:46:03.646978
17 0 days 12:28:17.096617200  ... 2008-01-18 17:45:55.324309
18 0 days 12:27:59.943729600  ... 2008-01-19 17:45:46.747865
19 0 days 12:27:42.292015200  ... 2008-01-20 17:45:37.922007
20 0 days 12:27:24.150326400  ... 2008-01-21 17:45:28.851164
21 0 days 12:27:05.527652400  ... 2008-01-22 17:45:19.539825
22 0 days 12:26:46.433072400  ... 2008-01-23 17:45:09.992536
23 0 days 12:26:26.875777200  ... 2008-01-24 17:45:00.213888
24 0 days 12:26:06.865036800  ... 2008-01-25 17:44:50.208518
25 0 days 12:25:46.410193200  ... 2008-01-26 17:44:39.981096
26    0 days 12:25:25.520646  ... 2008-01-27 17:44:29.536324
27    0 days 12:25:04.205856  ... 2008-01-28 17:44:18.878927
28    0 days 12:24:42.475302  ... 2008-01-29 17:44:08.013651
29    0 days 12:24:20.338506  ... 2008-01-30 17:43:56.945253
30 0 days 12:23:57.804993600  ... 2008-01-31 17:43:45.678498

[31 rows x 3 columns]